<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet", href="/public/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>{{error_description}}</p>
        {{>footer}}
    </body>

</html>