<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet", href="/public/css/styles.css">
    </head>

    <body>
        {{>header}}
        <img src="/public/image/dude.jpg">
        <p>{{description}}</p>
        {{>footer}}
    </body>
</html>