<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet", href="/public/css/styles.css"
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>    
        </div>
        {{>footer}}
    </body>
</html>