<!DOCTYPE html>

<html>
    <title>Weather</title>
    <link rel="icon", href="/public/image/weather.png">
    <head>
        <link rel="stylesheet", href="/public/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>
        </div>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message"></p>

        {{>footer}}
        
        <script src="/public/js/app.js"></script>
    </body>
    
</html>