<!DOCTYPE html>

<html>
    <title>Weather</title>
    <link rel="icon", href="/public/image/weather.png">
    <head>
        <link rel="stylesheet", href="/public/css/styles.css">
        <script src="../public/js/jsStyle.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>
        </div>
        {{>footer}}
    </body>

</html>